<!-- PARA QUE EL MENÚ DESPLEGABLE SE PLIEGUE  UNA VEZ SELECCIONADO UN ITEM -->
<!-- data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"  --> 
 <!-- EN TODOS LOS BOTONES a EXCEPTO EN LOS DESPLEGABLES -->

<nav class="navbar navbar-expand-lg navbar-light bg-light menu-principal">
    <div class="container-fluid">
      <a class="navbar-brand contenedor-logo" routerLink="home">

        <img class="imagen-logo" src="assets/img/el-pisito.svg" alt="Logo de El Pisito. Es la siluta de una casita cuya entrada es un corazón">
        <span class="texto-logo">El Pisito</span>

      </a>


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav">
            
          <li class="nav-item">
            <a  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="nav-link" aria-current="page" href="#">Home</a>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuCorporativo" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Corporativo
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuCorporativo">
              <li><a  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"  class="dropdown-item" routerLink="sobre-el-pisito">Sobre El Pisito</a></li>
              <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" routerLink="contactar" >Contactar</a></li>
              <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" routerLink="mapa-web">Mapa Web</a></li>
            </ul>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuSecciones" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Secciones
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuSecciones">
              <li><a  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" routerLink="publica-anuncio">Publica tu anuncio</a></li>
              <li><a  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" routerLink="consulta-hipoteca">Consulta tu hipoteca</a></li>
              <li><a  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" routerLink="nuestros-servicios">Nuestros servicios</a></li>
            </ul>
          </li>


          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuAdministracion" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Administración
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuAdministracion">
                <li><a  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" routerLink="/admin/add-inmueble">+ Inmueble</a></li>
                <li><a  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" routerLink="/admin/list-inmueble">Listado de Inmuebles</a></li>
                <li class="dropdown-divider"></li>
                <li><a  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item"  routerLink="/admin/add-poblacion">+ Población</a></li>
                <li><a  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item"  routerLink="/admin/list-poblacion">Listado de Poblaciones</a></li>
                <li class="dropdown-divider"></li>
                <li><a  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item"  routerLink="/admin/add-provincia">+ Provincia</a></li>
                <li><a  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item"  routerLink="/admin/list-provincia">Listado de Provincias</a></li>
                <li class="dropdown-divider"></li>
                <li><a  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item"  routerLink="/admin/add-tipo">+ Tipo</a></li>
                <li><a  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item"  routerLink="/admin/list-tipo">Listado de Tipos</a></li>
                <li class="dropdown-divider"></li>
                <li><a  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item"  routerLink="/admin/add-operacion">+ Operación</a></li>
                <li><a  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item"  routerLink="/admin/list-operacion">Listado de Operaciones</a></li>
                <li class="dropdown-divider"></li>
                <li><a  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item"  routerLink="/admin/add-usuario">+ Usuario</a></li>
                <li><a  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item"  routerLink="/admin/list-usuario">Listado de Usuarios</a></li>
        
            </ul>
          </li>



        </ul>

      </div>
    </div>
  </nav>