<section class="contenedor">

    <div class="corporativo">
        <h3>CORPORATIVO</h3>
        <div class="links">
            <a href="#">Sobre El Pisito.com</a>
            <a href="#">Contactar</a>
            <a href="#">Mapa web</a>
        </div>

    </div>

    
    <div class="secciones">
        <h3>SECCIONES</h3>
        <div class="links">
            <a href="#">Publica tu anuncio</a>
            <a routerLink="consulta-hipoteca">Consultor de hipotecas</a>
            <a routerLink="servicios">Servicios</a>
        </div>

    </div>


</section>
