/* ================================================= */
/* FIRST MOBILE */
/* ================================================= */

.contenedor {
    padding: 1rem;
    position: relative;
}

.corazon-favoritos {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 20; /* para que el boton del carousel no le afecte */
}

.boton-admin {
    position: absolute;
    top: 30px;
    left: 85px;
    z-index: 25; /* para que el boton del carousel no le afecte */
}

h1 {
    margin-bottom: 10px;
}

.titular-detalle {
    margin-top: 10px;
    font-size: 1.3rem;
}

.contenedor-descripcion {
    margin-top: 20px;
}

.contenedor-iconos-precio {
    background-color: var(--gris-claro);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.contenedor-iconos-precio div:first-child {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.subseccion {
    margin-top: 20px;
    font-size: 1.3rem;
}

.contenedor-datos-basicos {
    background-color: var(--gris-claro);
    padding: 1rem;
    border-radius: 5px;
}

.contenedor-datos-basicos span {
    display: flex;
    align-items: center;
}

.contenedor-datos-basicos div {
    display: flex;
    margin-bottom: 5px;
}

.contenedor-datos-basicos div i {
    background-color: var(--gris-oscuro);
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.contenedor-muebles-acabados {
    background-color: var(--gris-claro);
    padding: 1rem;
    border-radius: 5px;
}

.contenedor-muebles-acabados span {
    display: flex;
    align-items: center;
}

.contenedor-muebles-acabados div {
    display: flex;
    margin-bottom: 5px;
}

.contenedor-muebles-acabados div i {
    background-color: var(--gris-oscuro);
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.contenedor-equipamiento-instalaciones {
    background-color: var(--gris-claro);
    padding: 1rem;
    border-radius: 5px;
}

.contenedor-equipamiento-instalaciones span {
    display: flex;
    align-items: center;
}

.contenedor-equipamiento-instalaciones div {
    display: flex;
    margin-bottom: 5px;
}

.contenedor-equipamiento-instalaciones div i {
    background-color: var(--gris-oscuro);
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.contenedor-imagenes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--gris-claro);
    padding: 1rem;
    border-radius: 5px;
    flex-wrap: wrap;
}

.contenedor-imagenes img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.contenedor-archivos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--gris-claro);
    padding: 1rem;
    border-radius: 5px;
    flex-wrap: wrap;
}

/* es una etiqueta a que contiene una imagen (icono ) y un texto que es la descripción */
.link-archivo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--negro);
    height: 40px;
}

/* Seguimos la norma love & hate */
.link-archivo:link {
    color: var(--negro);
}

.link-archivo:visited {
    color: var(--negro);
}

.link-archivo:hover {
    color: var(--azul-logo);
}

.link-archivo img {
    width: auto;
    height: 100%;
}

/* img.archivo {
    border:none;
    width: 50px;
    height: 50px;
} */

/* img {
    width: 125px;
    height: 100px;
    border:2px solid var(--azul);
    cursor: pointer;
} */
.iconos {
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
}

.iconos img {
    height: 1.4rem;
    width: auto;
    border: none;
}

.iconos div {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.iconos span {
    font-size: 1.3rem;
    color: var(--negro);
    font-weight: 600;
}

.iconos p {
    font-size: 1.3rem;
    color: var(--negro);
    font-weight: 600;
    margin-bottom: 0;
}

.link-archivo {
    cursor: pointer;
}

/* Estilos personalizados para las ventanas emergentes */
/* ::ng-deep .custom-style{  

    border-radius: none !important;
    background-color: none;
} */

/* ================================================= */
/* MEDIA QUERIES */
/* ================================================= */

/* MAYOR O IGUAL DE 576PX (A PARTIR DE 575PX INCLUSIVE) - SMARTPHONES */
@media only screen and (min-width: 576px) {
    .contenedor-imagenes {
        flex-direction: row;
        justify-content: space-between;
    }

    .contenedor-imagenes div {
        width: 49%;
        height: auto;
    }

    .link-archivo {
        height: 30px;
    }
}

/* MAYOR O IGUAL DE 768PX (A PARTIR DE 768PX INCLUSIVE) - SMARTPHONES GRANDES, TABLETS */
@media only screen and (min-width: 768px) {
    /* Aquí puedes agregar reglas específicas para tablets */
}

/* MAYOR O IGUAL DE 992PX (A PARTIR DE 992PX INCLUSIVE) - PC PEQUEÑOS, LAPTOPS */
@media only screen and (min-width: 992px) {
    .contenedor-imagenes {
        justify-content: flex-start;
    }

    .contenedor-imagenes div {
        width: 10%;
        height: auto;
    }
}

/* MAYOR O IGUAL DE 1200PX (A PARTIR DE 1200PX INCLUSIVE) - PC GRANDES, TELEVISIONES */
@media only screen and (min-width: 1200px) {
    /* Aquí puedes agregar reglas específicas para pantallas grandes */
}
