/* ================================================= */
/* FIRST MOBILE */
/* ================================================= */
.admin {
  background-color: black;
  opacity: 60%;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: var(--amarillo-logo) solid 3px; */
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}

/* ================================================= */
/* MEDIA QUERIES */
/* ================================================= */

/* MAYOR O IGUAL DE 576PX (A PARTIR DE 575PX INCLUSIVE) - SMARTPHONES */
@media only screen and (min-width: 576px) {
  /* Aquí van las reglas para pantallas de smartphones */
}

/* MAYOR O IGUAL DE 768PX (A PARTIR DE 768PX INCLUSIVE) - SMARTPHONES GRANDES, TABLETS */
@media only screen and (min-width: 768px) {
  /* Aquí van las reglas para pantallas de smartphones grandes y tablets */
}

/* MAYOR O IGUAL DE 992PX (A PARTIR DE 992PX INCLUSIVE) - PC PEQUEÑOS, LAPTOPS */
@media only screen and (min-width: 992px) {
  /* Aquí van las reglas para pantallas de PC pequeños y laptops */
}

/* MAYOR O IGUAL DE 1200PX (A PARTIR DE 1200PX INCLUSIVE) - PC GRANDES, TELEVISIONES */
@media only screen and (min-width: 1200px) {
  /* Aquí van las reglas para pantallas de PC grandes y televisores */
}
